-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: assur_db
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES ('a7591c78-d332-4b28-9100-82f064b7f063','9fd0089f620d65e77195c42faa17ef3a50926a45067eb69e356ebf0eca3404bc','2023-04-28 04:26:28.584','20230425025229_t25_4',NULL,NULL,'2023-04-28 04:26:27.437',1),('cc6a66f0-8a17-488d-a07d-63119d730e68','161717b40536d1757c8b95649568d5d9b408664313a15ca95ba7d4d08a7e5e3c','2023-04-28 04:26:31.460','20230428042631_v2_28_4',NULL,NULL,'2023-04-28 04:26:31.408',1);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adminclient`
--

DROP TABLE IF EXISTS `adminclient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adminclient` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `clientID` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `AdminClient_userId_key` (`userId`),
  KEY `AdminClient_clientID_fkey` (`clientID`),
  CONSTRAINT `AdminClient_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `clientID_FK` FOREIGN KEY (`clientID`) REFERENCES `client` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adminclient`
--

LOCK TABLES `adminclient` WRITE;
/*!40000 ALTER TABLE `adminclient` DISABLE KEYS */;
INSERT INTO `adminclient` VALUES (8,9,1),(9,10,1),(11,12,4),(12,13,3),(18,61,1),(19,62,1),(20,63,2),(21,64,3);
/*!40000 ALTER TABLE `adminclient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `apiadmin`
--

DROP TABLE IF EXISTS `apiadmin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `apiadmin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prenom` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mdp` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'default',
  `role` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `resetLink` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `aciveInactive` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `apiAdmin_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `apiadmin`
--

LOCK TABLES `apiadmin` WRITE;
/*!40000 ALTER TABLE `apiadmin` DISABLE KEYS */;
INSERT INTO `apiadmin` VALUES (11,'api.admin@fleetrisk.fr','fleetrisk','api admin','$2b$10$yufUVOCrGuEXl90.DLUEDuw8Qh3kgrWz95MZogYtGUOrRwztnrGgq','admin_api_fleetrisk',NULL,1);
/*!40000 ALTER TABLE `apiadmin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chauffeur`
--

DROP TABLE IF EXISTS `chauffeur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chauffeur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `siteName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `region` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `client` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `clientName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `creerPar` enum('super_admin','client_admin','manager','chauffeur') COLLATE utf8mb4_unicode_ci NOT NULL,
  `dateEmbauche` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_de_naissance` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nom` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numTel` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `permisConduire` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `photo` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prenom` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `regionName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `site` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `societe` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `societeName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `typeContrat` enum('CDI','CDD','Interimaire','Stagiaire') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Chauffeur_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chauffeur`
--

LOCK TABLES `chauffeur` WRITE;
/*!40000 ALTER TABLE `chauffeur` DISABLE KEYS */;
INSERT INTO `chauffeur` VALUES (1,'sdfes@dsfsdf.dsf',NULL,'4','1','PRIMEVER SERVICES','super_admin','','','kllklk','','',NULL,'lklkkl','ATLANTIQUE','','17','PRIMEVER NORMANDIE','CDI');
/*!40000 ALTER TABLE `chauffeur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nomClient` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `numTel` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ville` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `code postale` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numAssistance` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descriptifAssistance` varchar(1000) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nomDomaine` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `numSiret` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nbreSociete` int NOT NULL DEFAULT '0',
  `nbreSites` int DEFAULT '0',
  `nbreAdmins` int DEFAULT '0',
  `startDate` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `endDate` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `donneesCrypte` tinyint(1) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `logo` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) DEFAULT NULL,
  `superAdminID` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Client_email_key` (`email`),
  KEY `Client_superAdminID_fkey` (`superAdminID`),
  CONSTRAINT `Client_superAdminID_fkey` FOREIGN KEY (`superAdminID`) REFERENCES `superadmin` (`userId`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contrat`
--

DROP TABLE IF EXISTS `contrat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contrat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `refContrat` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Assureur` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `typeContrat` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `startDate` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `endDate` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ClientID` int DEFAULT NULL,
  `SocieteID` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Contrat_ClientID_fkey` (`ClientID`),
  CONSTRAINT `Contrat_ClientID_fkey` FOREIGN KEY (`ClientID`) REFERENCES `client` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contrat`
--

LOCK TABLES `contrat` WRITE;
/*!40000 ALTER TABLE `contrat` DISABLE KEYS */;
INSERT INTO `contrat` VALUES (1,'6969812304','AXA (PRIMEVER)','FLOTTE OUVERTE','2023-01-01','2023-12-31',1,NULL),(2,'11003596504','AXA (Guidez)','FLOTTE OUVERTE','2023-01-01','2023-12-31',1,NULL),(3,'14220459','HELVETIA','FLOTTE FERMEE','2023-01-01','2023-12-31',2,NULL),(4,'J03222N0055000','SMA','FLOTTE OUVERTE','2023-01-01','2023-12-31',3,NULL),(5,'10433437204','AXA','FLOTTE OUVERTE','2023-04-01','2024-03-31',4,NULL),(6,'FLC000779','AXERIA','FLOTTE OUVERTE','2021-01-01','2022-12-31',3,NULL),(7,'11174401804','AXA (TESSIER)','FLOTTE OUVERTE','2024-01-01','2024-12-31',1,NULL);
/*!40000 ALTER TABLE `contrat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `country`
--

DROP TABLE IF EXISTS `country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `country` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `clientId` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Country_clientId_fkey` (`clientId`),
  CONSTRAINT `Country_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `client` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country`
--

LOCK TABLES `country` WRITE;
/*!40000 ALTER TABLE `country` DISABLE KEYS */;
INSERT INTO `country` VALUES (1,'France',1);
/*!40000 ALTER TABLE `country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashbordprefrences`
--

DROP TABLE IF EXISTS `dashbordprefrences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashbordprefrences` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page1` json DEFAULT NULL,
  `page2` json DEFAULT NULL,
  `userId` int NOT NULL,
  `rangeDate` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `DashbordPrefrences_userId_key` (`userId`),
  CONSTRAINT `DashbordPrefrences_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashbordprefrences`
--

LOCK TABLES `dashbordprefrences` WRITE;
/*!40000 ALTER TABLE `dashbordprefrences` DISABLE KEYS */;
/*!40000 ALTER TABLE `dashbordprefrences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `declarationsinistre`
--

DROP TABLE IF EXISTS `declarationsinistre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `declarationsinistre` (
  `NUMERO_CLIENT` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DOSSIER` int NOT NULL,
  `DOSSIER_CLIENT` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ANNEE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ASSUREUR` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `NUMERO_CONTRAT` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `AMIABLE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `REF_SINISTRE_ASUREUR` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_RECEPTION` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_SURVENANCE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `HEURE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CAS` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `LIEU_SINISTRE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `REGION` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `SOCIETE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `SITE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `TYPE_VEHICULE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `IMMATRICULATION` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `MARQUE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `PREMIERE_MEC` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `PERTE_FI` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CONDUCTEUR` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `POURCENTAGE_RC` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CAS_IDA` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `NATURE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CIRCONSTANCE` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `DOMMAGES` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DOMMAGES_SAISIE8_LIBRE` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ASSUREUR_ADV` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CONVENTION` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `FRANCHISE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `MONTANT_DOM` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_MISSIONNEMENT` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `LIEU_EXPERTISE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_EXPERTISE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_PRE_RAPPORT` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `REF_EXPERTISE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_RAPPORT_DEFINITIF` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `COUT_EXPERT` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `REPARATION` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CESSION_EPAVE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `MONTANT_RECOURS` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `PIECES_MANQUANTES` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DETAIL_PIECES_MANQUANTES` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_RELANCE_PIECES_MANQUANTES` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CONSTAT_ORIGINAL` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DATE_CLOTURE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CHARGE_PROVISIONNELLE_ASSUREUR` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CHARGE_REELLE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ETAT` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CHARGE_AJUSTEE` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `COMMENTAIRES` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  UNIQUE KEY `DeclarationSinistre_DOSSIER_key` (`DOSSIER`),
  CONSTRAINT `DeclarationSinistre_DOSSIER_fkey` FOREIGN KEY (`DOSSIER`) REFERENCES `sinistre` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `declarationsinistre`
--

LOCK TABLES `declarationsinistre` WRITE;
/*!40000 ALTER TABLE `declarationsinistre` DISABLE KEYS */;
/*!40000 ALTER TABLE `declarationsinistre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entretienpostaccident`
--

DROP TABLE IF EXISTS `entretienpostaccident`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entretienpostaccident` (
  `id` int NOT NULL AUTO_INCREMENT,
  `societe` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nom_prenom_chauffeur` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_entree_dans_fonction` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_accident` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_entretien` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entretien_realisee_par` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jour_de_survenance_de_accident` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Dernier_jour_de_pause_hebdomadaire` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Heure_accident` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Heure_prise_service` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `temps_coduite_depuis_prise_servise_au_dernier_pause_obligatoire` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `meteo` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `luminosite` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `environement` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `configuration` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type_de_voie` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type_de_tiers` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type_de_trajet` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Estimation_de_accident` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Genre_du_sinistre` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Degats` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `endroit_impact` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Expression_libre` text COLLATE utf8mb4_unicode_ci,
  `Circonstance_de_accident` text COLLATE utf8mb4_unicode_ci,
  `Evitabilite_de_accident` text COLLATE utf8mb4_unicode_ci,
  `Avis_Evitable_O_N` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Signature_responsable` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Signature_Conducteur` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Circonstance_de_accident_expression_libre` text COLLATE utf8mb4_unicode_ci,
  `Evitabilite_de_accident_expression_libre` text COLLATE utf8mb4_unicode_ci,
  `Suggestion_limitation_de_risque` text COLLATE utf8mb4_unicode_ci,
  `circonstance_trajet` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `clientId` int DEFAULT NULL,
  `comment_sentiez_vous` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contrat` enum('CDI','CDD','Interimaire','Stagiaire') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `derniere_formation_date` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `distraction` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dossier_sinistre` int DEFAULT NULL,
  `dotation_de_vehicule` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estimation_cout` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `etat_chargemen_vehicule` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `formation_conduire_vhicule` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kilometres_parcourus_avant_le_sinistre` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `matiere_dangereuse` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `non_dire_pourquoi` text COLLATE utf8mb4_unicode_ci,
  `prise_en_main_accompagne` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `region` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `site` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `situation_de_survenance_conducteur` text COLLATE utf8mb4_unicode_ci,
  `situation_de_survenance_tiers` text COLLATE utf8mb4_unicode_ci,
  `vehicule_adapte_au_mission` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vehicule_deja_conduit` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vehicule_habituel` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vehicule_inf_35` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vehicule_sup_35` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entretienpostaccident`
--

LOCK TABLES `entretienpostaccident` WRITE;
/*!40000 ALTER TABLE `entretienpostaccident` DISABLE KEYS */;
/*!40000 ALTER TABLE `entretienpostaccident` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entretienvehicule`
--

DROP TABLE IF EXISTS `entretienvehicule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entretienvehicule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `etat` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `resultat_entretien` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description_entretien` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_vehicule` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `matricule` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `chauffeurID` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `EntretienVehicule_chauffeurID_fkey` (`chauffeurID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entretienvehicule`
--

LOCK TABLES `entretienvehicule` WRITE;
/*!40000 ALTER TABLE `entretienvehicule` DISABLE KEYS */;
/*!40000 ALTER TABLE `entretienvehicule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manager`
--

DROP TABLE IF EXISTS `manager`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manager` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `clientId` int NOT NULL,
  `droits` enum('consulter','gerer') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Manager_userId_key` (`userId`),
  KEY `Manager_clientId_fkey` (`clientId`),
  CONSTRAINT `Manager_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `client` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Manager_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manager`
--

LOCK TABLES `manager` WRITE;
/*!40000 ALTER TABLE `manager` DISABLE KEYS */;
INSERT INTO `manager` VALUES (9,30,4,NULL),(23,44,4,NULL),(24,45,4,NULL),(25,46,4,NULL),(26,47,4,NULL),(27,48,4,NULL),(28,49,4,NULL),(29,50,4,NULL),(30,51,4,NULL),(31,52,4,NULL),(32,53,4,NULL),(33,54,4,NULL),(37,65,4,NULL);
/*!40000 ALTER TABLE `manager` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objectif`
--

DROP TABLE IF EXISTS `objectif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `objectif` (
  `id` int NOT NULL AUTO_INCREMENT,
  `value` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `year` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `current` tinyint(1) NOT NULL DEFAULT '0',
  `contratId` int DEFAULT NULL,
  `ClientID` int DEFAULT NULL,
  `SocieteID` int DEFAULT NULL,
  `regionId` int DEFAULT NULL,
  `siteId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Objectif_ClientID_fkey` (`ClientID`),
  KEY `Objectif_SocieteID_fkey` (`SocieteID`),
  KEY `Objectif_regionId_fkey` (`regionId`),
  KEY `Objectif_siteId_fkey` (`siteId`),
  CONSTRAINT `Objectif_ClientID_fkey` FOREIGN KEY (`ClientID`) REFERENCES `client` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Objectif_regionId_fkey` FOREIGN KEY (`regionId`) REFERENCES `region` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Objectif_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `site` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Objectif_SocieteID_fkey` FOREIGN KEY (`SocieteID`) REFERENCES `societe` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objectif`
--

LOCK TABLES `objectif` WRITE;
/*!40000 ALTER TABLE `objectif` DISABLE KEYS */;
/*!40000 ALTER TABLE `objectif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile`
--

DROP TABLE IF EXISTS `profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profile` (
  `numTel` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_de_naissance` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `typeContrat` enum('CDI','CDD','Interimaire','Stagiaire') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dateEmbauche` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `creerPar` enum('super_admin','client_admin','manager','chauffeur') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'manager',
  `permisConduire` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `photo` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `userId` int NOT NULL,
  UNIQUE KEY `Profile_userId_key` (`userId`),
  CONSTRAINT `Profile_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile`
--

LOCK TABLES `profile` WRITE;
/*!40000 ALTER TABLE `profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `region`
--

DROP TABLE IF EXISTS `region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `region` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `countryID` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Region_countryID_fkey` (`countryID`),
  CONSTRAINT `Region_countryID_fkey` FOREIGN KEY (`countryID`) REFERENCES `country` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `region`
--

LOCK TABLES `region` WRITE;
/*!40000 ALTER TABLE `region` DISABLE KEYS */;
INSERT INTO `region` VALUES (3,'SUD OUEST',1),(4,'ATLANTIQUE',1),(5,'ROUSSILLON',1),(6,'RHONE ALPES',1),(7,'PROVENCE',1),(8,'ILE DE FRANCE',1),(9,'NORD',1),(11,'SIEGE',1);
/*!40000 ALTER TABLE `region` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sinistre`
--

DROP TABLE IF EXISTS `sinistre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sinistre` (
  `id` int NOT NULL AUTO_INCREMENT,
  `etat` enum('recu','enAttente','confirme','refuse') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'recu',
  `chauffeurEmail` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cr├®er par` enum('super_admin','client_admin','manager','chauffeur') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id cr├®ateur` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `constat` json DEFAULT NULL,
  `permis_conduire` json DEFAULT NULL,
  `carte_grise` json DEFAULT NULL,
  `declaration_chauffeur` json DEFAULT NULL,
  `autres_pieces` json DEFAULT NULL,
  `chauffeur` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Sinistre_chauffeurEmail_fkey` (`chauffeurEmail`)
) ENGINE=InnoDB AUTO_INCREMENT=11471 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sinistre`
--

LOCK TABLES `sinistre` WRITE;
/*!40000 ALTER TABLE `sinistre` DISABLE KEYS */;
/*!40000 ALTER TABLE `sinistre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site`
--

DROP TABLE IF EXISTS `site`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `site` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tel` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `adresse` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `numSiret` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nbrChauffeur` int DEFAULT '0',
  `creerPar` enum('super_admin','client_admin','manager','chauffeur') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `clientId` int NOT NULL,
  `SocieteID` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Site_SocieteID_fkey` (`SocieteID`),
  CONSTRAINT `Site_SocieteID_fkey` FOREIGN KEY (`SocieteID`) REFERENCES `societe` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site`
--

LOCK TABLES `site` WRITE;
/*!40000 ALTER TABLE `site` DISABLE KEYS */;
/*!40000 ALTER TABLE `site` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `societe`
--

DROP TABLE IF EXISTS `societe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `societe` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `numTel` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numSiret` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nmbreSites` int NOT NULL DEFAULT '0',
  `creerPar` enum('super_admin','client_admin','manager','chauffeur') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `regionId` int DEFAULT NULL,
  `countryId` int DEFAULT NULL,
  `clientId` int NOT NULL,
  `contratId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Societe_regionId_fkey` (`regionId`),
  KEY `Societe_countryId_fkey` (`countryId`),
  KEY `Societe_clientId_fkey` (`clientId`),
  KEY `Societe_contratId_fkey` (`contratId`),
  CONSTRAINT `Societe_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `client` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Societe_contratId_fkey` FOREIGN KEY (`contratId`) REFERENCES `contrat` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Societe_countryId_fkey` FOREIGN KEY (`countryId`) REFERENCES `country` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Societe_regionId_fkey` FOREIGN KEY (`regionId`) REFERENCES `region` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `societe`
--

LOCK TABLES `societe` WRITE;
/*!40000 ALTER TABLE `societe` DISABLE KEYS */;
/*!40000 ALTER TABLE `societe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `societemanager`
--

DROP TABLE IF EXISTS `societemanager`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `societemanager` (
  `id` int NOT NULL AUTO_INCREMENT,
  `managerId` int DEFAULT NULL,
  `societeId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `SocieteManager_managerId_fkey` (`managerId`),
  KEY `SocieteManager_societeId_fkey` (`societeId`),
  CONSTRAINT `SocieteManager_managerId_fkey` FOREIGN KEY (`managerId`) REFERENCES `manager` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SocieteManager_societeId_fkey` FOREIGN KEY (`societeId`) REFERENCES `societe` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=132 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `societemanager`
--

LOCK TABLES `societemanager` WRITE;
/*!40000 ALTER TABLE `societemanager` DISABLE KEYS */;
/*!40000 ALTER TABLE `societemanager` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superadmin`
--

DROP TABLE IF EXISTS `superadmin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superadmin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SuperAdmin_userId_key` (`userId`),
  CONSTRAINT `SuperAdmin_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superadmin`
--

LOCK TABLES `superadmin` WRITE;
/*!40000 ALTER TABLE `superadmin` DISABLE KEYS */;
INSERT INTO `superadmin` VALUES (1,1);
/*!40000 ALTER TABLE `superadmin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prenom` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mdp` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'default',
  `role` enum('super_admin','client_admin','manager','chauffeur') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `numTel` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `resetLink` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `aciveInactive` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-02-21  0:50:43
